{#{% extends 'index/base.html' %}#}

{% load staticfiles %}
{% load sekizai_tags %}
{% block femida %}{% endblock %}
{% block text_content %}


    {% for post in posts %}
        <div class="news-title center-align">{{ post.title }}</div>
        <div class="news-body text-content">{{ post.content }}</div>
    {% endfor %}

    {% if is_paginated %}

        <div class="row">
            <div class="col s12">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="waves-effect"><a href="{{ page_obj.previous_page_number }}"><i
                                class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><a href="">{{ i }}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i
                                class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock text_content %}


{% addtoblock "js" %}
    <script>
        $(document).ready(function () {
            $('.slider').slider({full_width: true});
        });
        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

    </script>
{% endaddtoblock %}