<footer class="footer">
    <div class="inner">
        <div class="f_copy">
            <ul>
                <li>
                    {% for footer_image in instance.footer_images.all %}
                        <img class="soc" src="{{ footer_image.image.url }}">
                    {% endfor %}
                </li>
                <li>
                    {{ instance.text }}
                </li>
            </ul>
        </div>

    </div>
</footer>