{% load staticfiles %}

<header>
    <div class="row">
        {# logo #}
        {% block logo %}
            <div class="col l4 m12 s12 center-align">
                <img class="responsive-img" style="width:160px;" src="{% static 'index/i/logo.png' %}" title="logo"
                     alt="logo"/>
                <br/>
                <b style="font-size: 17pt;font-family: 'Oranienbaum', serif;">{{ instance.head_text }}</b>
            </div>
        {% endblock %}

        {# contacts #}
        {% block contacts %}
            <div class="col l8 m12 s12 info center-align" style="margin-bottom: -50px !important;">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="s6">
                                <div class="row">
                                    <div class="col s6 m4 l4 ">
                                        {{ instance.main_text }}
                                    </div>
                                    <div class="col s2 m4 l4">
                                        <img class="hide-on-small-only"
                                             src="{% static 'index/i/bm.png' %}" alt="*"/>
                                    </div>
                                    <div class="col s6 m4 l4 ">
                                        <ul class="tel">
                                            <li class="mail1">{{ instance.phone_text }}</li>
                                            {% for phone in instance.phones.all %}
                                                <li class="phone{{ forloop.counter }}">{{ phone.phone_number }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</header>