{% load menu_tags %}

<div class="row menu">
    <nav class="transparent" style="height: 0;">
        <div class="nav-wrapper z-depth-0">

            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i
                    class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down top-menu" style="padding-left:50px;">
                {% for child in children %}
                    <li>
                        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="center">
                <ul class="side-nav bg-color" id="mobile-demo">
                    {% for child in children %}
                        <li>
                            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>
