{% load menu_tags staticfiles %}


{# left menu #}
<div class="col s12 m12 l3" style="padding:10px;">
    <br/>
    <ul class="second-menu collection with-header hide-on-med-and-down bg-color z-depth-5">
{#        <li class="collection-header center-align label-color"><h5>Услуги</h5></li>#}
        {% for child in children %}
            {% if child.selected %}
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                    <li class="collection-item active label-color">
                        <span class="">{{ child.get_menu_title }}</span>
                    </li>
                </a>
            {% else %}
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                    <li class="collection-item selected-label-color">
                        <span class="">{{ child.get_menu_title }}</span>
                    </li>
                </a>
            {% endif %}
        {% endfor %}
    </ul>
</div>


