{% load menu_tags staticfiles %}
{% load staticfiles %}

<div class="category_home center">
    <ul>
        {% for child in children %}
            <li class="item{{ forloop.counter }}"><a style="font-size: 16px !important;"
                    href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if children %}
    <div class="m11 center-align">
        <img src="{% static 'index/i/buttons/m11.png' %}" alt="">
    </div>
{% endif %}
