<!DOCTYPE html>
{% load staticfiles %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} {% page_attribute "page_title" %}</title>
    {% render_block "css" %}

    <link rel="canonical" href="{{ site.url }}"/>
    <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/second_level_menu.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/news.css' %}" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="description" content="{{ site.description }}"/>

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="«{{ site.name }}» - {{ site.description }} -"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:site_name" content="« {{ site.name }} » - {{ site.title }} -"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="« {{ site.name }} » - {{ site.title }} -"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>
{% cms_toolbar %}
{% static_placeholder "Header" %}

{% block menu %}
    {% show_menu 0 100 100 100 'index/includes/menu.html' %}
{% endblock %}

{% block content %}

    {# main content #}
    <div class="row content">
        {% if request.path != '/' %}
            <div class="col s12 m12 l12">
        {% else %}
            <div class="col s12 m12 l8">
        {% endif %}

        {% show_sub_menu 1 None 100 "index/includes/sub_menu.html" %}

        {% block breadcrumb %}
            {% if request.path != '/' %}
                <div class="bread right hide-on-med-and-down">{% show_breadcrumb 0 "index/includes/breadcrumbs.html" %}</div>
            {% endif %}
        {% endblock breadcrumb %}

        <div class="row content">
            {% if request.path != '/' %}
                {% show_menu 1 1 100 100 "index/includes/sub_menu_left.html" %}
            {% endif %}



            {% block text_content %}
                <div class="row hide-on-large-only">
                    <div class="s12 center-align">
                        <a class="waves-effect waves-light btn large brown darken-1 hide-on-small-only" href="#makeOrder">Заказать услуги</a>
                        <a class="waves-effect waves-light btn large brown darken-1 hide-on-med-and-up" href="#makeOrder">Заказ</a>
                    </div>

                </div>
                <div class="text-content">
                    {% if request.path != '/' %}
                        <div class="col s12 m12 l9 news-content" style="padding:10px;">
                            {% placeholder 'content' %}
                        </div>
                    {% else %}
                        <div class="col s12 m12 l11 news-content" style="padding:10px;">
                            {% placeholder 'content' %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

        {% if request.path != '/' %}
            </div>
        {% else %}
            </div>
        {% endif %}

        {% block femida %}
            {% if request.path == '/' %}
                <div class="col l4 hide-on-med-and-down"> {% comment %}style="margin-top: -100px;"{% endcomment %}
                    <div class="right order-container z-depth-5">
                        <form  id="order-form" method="POST" action="/order/">
                            {% csrf_token %}
                            <h2 style="color:black;" class="hide-on-small-only">Заказать юридические услуги</h2>
                            <div class="hide-on-small-only"><br/><br/></div>
                            <div class="inputline">
                                <input type="text" name="name" value="" class="inp" placeholder="Имя" required="">
                            </div>
                            <div class="inputline">
                                <input type="text" name="phone" value="" class="inp" placeholder="Телефон" required="">
                            </div>
                            <div class="inputline">
                                <textarea rows="10" cols="20" name="text" placeholder="Комментарий" class="area hide-on-small-only"></textarea>
{#                                <textarea rows="10" cols="20" name="text" placeholder="Комментарий" class="area-small hide-on-med-and-up"></textarea>#}
                            </div>
                        </form>
                        <div class="center-align">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
                               onclick="$('#order-form').submit()">Заказать</a>
                        </div>
                    </div>
{#                    <img class="statuya" src="{% static 'index/i/main_image.png' %}" alt="main image" title="femida">#}
{#                    <br/>#}
{#                    <div class="row">#}
{#                        <div class="col s2 "></div>#}
{#                        <div class="col s9 ">#}
{#                            <a class="waves-effect waves-light btn large brown darken-1" href="#makeOrder"#}
{#                               style="width:100%;">Заказать#}
{#                                юридические услуги</a>#}
{#                        </div>#}
{#                        <div class="col s1"></div>#}
{#                    </div>#}
                </div>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}

{% static_placeholder "footer" %}

{% block modal %}
    <!-- Modal Structure -->
    <div id="makeOrder" class="modal make-order-window">
        <div class="modal-content center-align center">
            <form id="order-form-modal" method="POST" action="/order/">
                {% csrf_token %}
                <h2 style="color:black;" class="hide-on-small-only">Заказать юридические услуги</h2>
                <div class="hide-on-small-only"><br/><br/></div>
                <div class="inputline">
                    <input type="text" name="name" value="" class="inp" placeholder="Имя" required="">
                </div>
                <div class="inputline">
                    <input type="text" name="phone" value="" class="inp" placeholder="Телефон" required="">
                </div>
                <div class="inputline">
                    <textarea rows="10" cols="20" name="text" placeholder="Комментарий" class="area"></textarea>
{#                    <textarea rows="10" cols="20" name="text" placeholder="Комментарий" class="area-small hide-on-med-and-up"></textarea>#}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat left">Отмена</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
               onclick="$('#order-form-modal').submit()">Отправить</a>
        </div>
    </div>
{% endblock %}

<!--  Scripts-->

{% addtoblock "js" %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/bot/css/style.css"> -->

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.modal').modal();
            var order_status = location.search.split('order=')[1];
            if (order_status == 'ok') {
                Materialize.toast('✔ Ваш заявка успешно сохранена! Мы скоро свяжемся с Вами, спасибо.', 3000, 'rounded');
            } else if (order_status == 'error') {
                Materialize.toast('✖ Произошла ошибка во время вашего заказа. Пожалуйста попробуйте еще раз.', 3000, 'rounded');
            }
        })
    </script>
{% endaddtoblock %}

{% render_block "js" %}

</body>
</html>
