{% extends 'index/base.html' %}
{# TODO: DEPRECATED template #}
{% block content %}
    <div class="row content">
        {# left menu #}
        <div class="col s12 m12 l5" style="padding:10px;">

            <ul class="second-menu collection with-header hide-on-med-and-down right bg-color">
              <li class="collection-header center-align"><h5>Услуги</h5></li>
              <li class="collection-item">
                  Гражданские дела
              </li>
              <li class="collection-item">
                  Семейные дела
              </li>
              <li class="collection-item">
                  Защита прав потребителей
              </li>
              <li class="collection-item">
                  Обжалование действий госорганов
              </li>
            </ul>

        </div>
        <div class="col s12 m12 l7" style="padding:10px;">

        </div>
    </div>
{% endblock %}