.category_home {}
.category_home ul {font-size: 0;}
.category_home li {display: inline-block; vertical-align: top; height: 110px; width: 260px; padding: 15px 0 0 50px; -moz-box-sizing: border-box;  box-sizing: border-box; position: relative;}
.category_home li a {font-family: 'Oranienbaum', serif !important; font-size: 15px; color: #eedfca; text-shadow: 1px 1px 2px #222; text-decoration: none; display: block; padding: 12px 0 0 0; -moz-box-sizing: border-box;  box-sizing: border-box; min-height: 55px; position: relative; z-index: 5;}

.category_home li:before, .category_home li:after {height: 110px; width: 260px; position: absolute; left: 0; top: 0; content: '';

-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;

}
.category_home li:after {opacity: 0; z-index: 1;}
.category_home li:hover:after {opacity: 1; }


.item1:before {background: url(../i/buttons/m-1.png) no-repeat 0 0;}
.item2:before {background: url(../i/buttons/m-2.png) no-repeat 0 0;}
.item3:before {background: url(../i/buttons/m-3.png) no-repeat 0 0;}
.item4:before {background: url(../i/buttons/m-4.png) no-repeat 0 0;}
.item5:before {background: url(../i/buttons/m-5.png) no-repeat 0 0;}
.item6:before {background: url(../i/buttons/m-6.png) no-repeat 0 0;}
.item7:before {background: url(../i/buttons/m-7.png) no-repeat 0 0;}
.item8:before {background: url(../i/buttons/m-8.png) no-repeat 0 0;}
.item9:before {background: url(../i/buttons/m-9.png) no-repeat 0 0;}
.item10:before {background: url(../i/buttons/m-5.png) no-repeat 0 0;}
.item11:before {background: url(../i/buttons/m-11.png) no-repeat 0 0;}
.item12:before {background: url(../i/buttons/m-12.png) no-repeat 0 0;}
.item13:before {background: url(../i/buttons/m-13.png) no-repeat 0 0;}
.item14:before {background: url(../i/buttons/m-14.png) no-repeat 0 0;}
.item15:before {background: url(../i/buttons/m-15.png) no-repeat 0 0;}


.item1:after {background: url(../i/buttons/m-1_hover.png) no-repeat 0 0;}
.item2:after {background: url(../i/buttons/m-2_hover.png) no-repeat 0 0;}
.item3:after {background: url(../i/buttons/m-3_hover.png) no-repeat 0 0;}
.item4:after {background: url(../i/buttons/m-4_hover.png) no-repeat 0 0;}
.item5:after {background: url(../i/buttons/m-5_hover.png) no-repeat 0 0;}
.item6:after {background: url(../i/buttons/m-6_hover.png) no-repeat 0 0;}
.item7:after {background: url(../i/buttons/m-7_hover.png) no-repeat 0 0;}
.item8:after {background: url(../i/buttons/m-8_hover.png) no-repeat 0 0;}
.item9:after {background: url(../i/buttons/m-9_hover.png) no-repeat 0 0;}
.item10:after {background: url(../i/buttons/m-5_hover.png) no-repeat 0 0;}
.item11:after {background: url(../i/buttons/m-11_hover.png) no-repeat 0 0;}
.item12:after {background: url(../i/buttons/m-12_hover.png) no-repeat 0 0;}
.item13:after {background: url(../i/buttons/m-13_hover.png) no-repeat 0 0;}
.item14:after {background: url(../i/buttons/m-14_hover.png) no-repeat 0 0;}
.item15:after {background: url(../i/buttons/m-15_hover.png) no-repeat 0 0;}
