@import "vars";
@import "css3-mixins.scss";

.second-menu {
  max-width: 350px; border: 1px solid darken($main_color2, 25%) !important;
  border-radius: 5px !important;
  background-color: $bg-color !important;
  font-weight: 400 !important;
  font-size: 14pt;
  font-family: 'PT Sans Narrow', sans-serif;
}


.second-menu li:hover:not(.active) {
  //background-color: $main_color2 !important;
  //color: $order-color !important;
  font-size: 14pt;
  font-weight: 500 !important;
  @include text-shadow();
  @include outline-radius();
  @include flex(1);
}

.collection-item {
  cursor: pointer;
  background-color: $bg-color;
  font-weight: 400;
}

.collection-item :hover {
  //background-color: $bg-color !important;
  //text-shadow: $bg-color;
}

.active {
  background-color: $menu-color !important;
  color: darken($main_color2, 10%) !important;
  font-weight: 700;

}

.collection-header {
  background-color: transparent !important;
  border-bottom: 2px solid $main_color !important;
}

