/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.second-menu {
  max-width: 350px;
  border: 1px solid black !important;
  border-radius: 5px !important;
  background-color: #F5EBB8 !important;
  font-weight: 400 !important;
  font-size: 14pt;
  font-family: 'PT Sans Narrow', sans-serif; }

.second-menu li:hover:not(.active) {
  font-size: 14pt;
  font-weight: 500 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-outline-radius: 5px;
  -khtml-outline-radius: 5px;
  -moz-outline-radius: 5px;
  -ms-outline-radius: 5px;
  -o-outline-radius: 5px;
  outline-radius: 5px;
  -webkit-box-flex: 1;
  -khtml-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1; }

.collection-item {
  cursor: pointer;
  background-color: #F5EBB8;
  font-weight: 400; }

.active {
  background-color: #F5EBBA !important;
  color: #003700 !important;
  font-weight: 700; }

.collection-header {
  background-color: transparent !important;
  border-bottom: 2px solid #513932 !important; }

/*# sourceMappingURL=second_level_menu.css.map */
