/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
body {
  background-image: url(../i/fon.jpg);
  color: #513932; }

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px !important;
  color: #513932;
  margin: 30px 0 20px 0;
  line-height: 20px;
  text-align: center; }

h2 {
  font-size: 25px !important; }

input[type='text'] {
  color: #26A69A !important; }

textarea {
  color: #26A69A !important; }

input::-webkit-input-placeholder {
  color: #6D4C41 !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #6D4C41 !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #6D4C41 !important; }

input:-ms-input-placeholder {
  color: #6D4C41 !important; }

textarea::-webkit-input-placeholder {
  color: #6D4C41 !important; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #6D4C41 !important; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #6D4C41 !important; }

textarea:-ms-input-placeholder {
  color: #6D4C41 !important; }

.bg-color {
  background-color: #F5EBB8; }

.menu {
  max-width: 100%;
  background: #F5EBB8 url(../i/menu_fon.png) repeat-x 0 0;
  min-height: 61px;
  top: 0;
  color: #f1e1cd;
  padding-right: 31px; }

.menu_li li {
  color: #F5EBB8;
  float: left;
  padding-right: 45px;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase; }

.menu_li li a {
  color: #F5EBB8;
  text-decoration: none; }

.menu_li li a:hover {
  color: #F5EBB8;
  text-decoration: none; }

.menu_li li:hover {
  color: #F5EBB8;
  float: left;
  padding-right: 45px;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #F5EBB8; }

.mail1 {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px; }

.mail2 a {
  font-size: 18px;
  margin-bottom: 5px;
  color: #513932 !important; }

.adr1 {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px; }

.adr2 a {
  font-size: 18px;
  color: #513932 !important; }

.tel {
  font-size: 25px; }

.cont {
  padding-top: 15px; }

.footer {
  background: #F5EBB8 url(../i/f_fon.png) repeat-x 0 0;
  max-width: 100%;
  height: 147px;
  left: 0;
  bottom: 0;
  padding-right: 0; }

.f_copy {
  color: #F5EBB8;
  float: right;
  padding-top: 35px;
  width: 350px; }

.second-color {
  background-color: #6D4C41 !important; }

.header-color {
  background-color: #F5EBBA !important; }

.label-color {
  color: black; }

.selected-label-color {
  background-color: rgba(255, 252, 232, 0.7) !important;
  color: black !important; }

.text-content {
  text-align: justify !important; }

.top-menu li:hover a {
  color: #26A69A !important;
  text-shadow: gold;
  background: none; }

.bread {
  padding-right: 2%; }

.make-order {
  width: 50px; }

.order-container {
  width: 70% !important;
  margin-right: 20%;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(255, 252, 232, 0.7); }

.make-order-window {
  width: 355px !important;
  height: 600px !important; }

.modal {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid darkolivegreen;
  border-radius: 2px;
  max-height: 85% !important;
  max-width: 90% !important; }

.area {
  resize: none;
  height: 220px;
  line-height: 24px;
  padding: 25px 15px;
  overflow: hidden; }

.area-small {
  resize: none;
  height: 270px !important;
  background-color: papayawhip;
  line-height: 12px;
  padding: 10px 8px;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
