@import "vars";
@import "css3-mixins.scss";

body {
  background-image: url(../i/fon.jpg);
  color: $main_color;
}

//h1 {
//    font-family: 'Fjalla One', sans-serif;
//    font-size: 15pt !important;
//    margin-top: -$def-margin !important;
//    color: $main_color;
//}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px !important;
  color: $main_color;
  margin: 30px 0 20px 0;
  line-height: 20px;
  text-align: center;
}

h2 {
  font-size: 25px !important;
}

input[type='text'] {
  color: $materialize-color !important;
}

textarea {
  color: $materialize-color !important;
}

input::-webkit-input-placeholder {
  color: $support-color !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $support-color !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: $support-color !important;
}

input:-ms-input-placeholder {
  color: $support-color !important;
}

textarea::-webkit-input-placeholder {
  color: $support-color !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: $support-color !important;
}

textarea::-moz-placeholder { /* Firefox 19+ */
  color: $support-color !important;
}

textarea:-ms-input-placeholder {
  color: $support-color !important;
}

.bg-color {
  background-color: $bg-color;
}

.menu {
  max-width: 100%;
  background: $bg-color url(../i/menu_fon.png) repeat-x 0 0;
  min-height: 61px;
  top: 0;
  color: #f1e1cd;
  padding-right: 31px;
}

.menu_li li {
  color: $bg-color;
  float: left;
  padding-right: 45px;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.menu_li li a {
  color: $bg-color;
  text-decoration: none;
}

.menu_li li a:hover {
  color: $bg-color;
  text-decoration: none;
}

.menu_li li:hover {
  color: $bg-color;
  float: left;
  padding-right: 45px;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 0 20px $bg-color;
}

.nav-wrapper {

}

.mail1 {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.mail2 a {
  font-size: 18px;
  margin-bottom: 5px;
  color: $main_color !important;
}

.adr1 {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.adr2 a {
  font-size: 18px;
  color: $main_color !important;
}

.tel {
  font-size: 25px;
}

.cont {
  padding-top: 15px;
}

.footer {
  background: $bg-color url(../i/f_fon.png) repeat-x 0 0;
  max-width: 100%;
  height: 147px;
  left: 0;
  bottom: 0;
  padding-right: 0;
}

.f_copy {
  color: $bg-color;
  float: right;
  padding-top: 35px;
  width: 350px;
}

.second-color {
  background-color: $support-color !important;
}

.header-color {
  background-color: $menu-color !important;
}

.label-color{
  //background-color: $main_color !important;
  //background: $bg-color url(../i/marble.jpg) repeat 0 0;
  color: black;
}

.selected-label-color{
  background-color: $order-color !important;
  //background: $bg-color url(../i/marble3.jpg) repeat-x 0 0;
  color: black !important;
}

.text-content {
  text-align: justify !important;
}

.top-menu li:hover a {
  color: $materialize-color !important;
  text-shadow:gold;
  background: none;
}

.bread {
  padding-right: 2%;
}

.make-order {
  width: 50px;
}

.order-container{
  width: 70% !important;
  margin-right: 20%;
  border: 1px solid black;
  border-radius: 2px;
  padding:$def-padding;
  //background: url(../i/marble.jpg) repeat;
  background-color: $order-color;
}

.make-order-window {
  width: 355px !important;
  height: 600px !important;
}

.modal {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid darkolivegreen;
  border-radius: 2px;
  //width: 380px !important;
  max-height: 85% !important;
  max-width: 90% !important;
}

.area {
  resize: none;
  height: 220px;
  line-height: 24px;
  padding: 25px 15px;
  overflow: hidden;
}

.area-small {
  resize: none;
  height: 270px !important;
  background-color: papayawhip;
  line-height: 12px;
  padding: 10px 8px;
  overflow: hidden;
}