$main_color: #513932;
$bg-color: #F5EBB8;
$materialize-color: #26A69A;
$support-color: #6D4C41;
$menu-color: #F5EBBA;
$label-color: #E8AF0C;
$def-padding: 10px;
$def-margin: 10px;
$main_color2: #006a00;//#0b4f0c;
$order-color: rgba(255, 252, 232, 0.7);
$small: 320px;
$medium: 640px;
$large: 1024px;


$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
